@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  height: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}
input[type="text"]::-webkit-input-placeholder{
  color: black;
  font-weight: bolder;
  text-align: right;
  
}
::-webkit-datetime-edit{
  font: 400 12px;
}
::-webkit-datetime-edit-text{
  opacity: 0;
}
::-webkit-calendar-picker-indicator{
    opacity: 100%;
    width: 7px;
    height: 7px;
    
}
::-webkit-inner-spin-button { display: none; }//chowa strzałki na :hover w kalendarzu 

#amount{
  width: 154px;
}
.amount{

  font-size: 16;
  font-weight: bold;
  text-align: center;
  
}
.backArrow{
  display: block;
  font-size: 38px;
  font-weight: 900;
  
  margin-left: 10px;
  cursor: default;
}
.bankSelectBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.bankSelectWraper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

}
.bankClicked{
  border-radius: 5px;
  border: solid green 4px;
  background-color: green;
}
.bankLabel{
  display: block;
  text-align: center;

}
body {
  color: black;
  background: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
  align-self: center;
  border-radius: 10px;
  min-width: 43px;
  max-height: 33 px;
  margin-left: 10px;
  border-style: none;
  background-color: lime;
  font-size: 25px;
  font-weight: 0;
  align-items: center;
  padding: 6px;
  border-width: 0;
  cursor: pointer;

}
.button__add{
  border-style: none;
  background: none;
  cursor: pointer;
}
#button__calendar{
  border-style: none;
  background: none;
  cursor: pointer;
}
.buttonClose{
  display: none;
  background-color: rgb(87, 87, 87);
  border-style: none;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 8px;
  &--show{
    display: block;
  }
}

.buttonDone{
  display: none;
  background-color: crimson;
  border-style: none;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 8px;
      &--show{
        display: block;
      }
}
#buttonDone{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: lime solid 2px;
  background-color: transparent;
  color: lime;
  padding: 1px 6px 1px 5px;
  
}
#buttonPopup{
  display: inline-block;
  margin-top: 20px;
  font-weight: 900;
}
.buttonsWraper{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#calendar{
  padding-right: 0;
  text-align: start;
  width: 154px;
}

.calendar{
  font-family: 'Lucida Console';
  font-size: 0.875rem;
  display: inline;
  border-style: none;
  padding: 5px 5px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
   &::placeholder{
     text-align: end;
    }
    &:focus{
      &::placeholder{
       color: transparent;
      }
    }
  
}
.calendar__backArow{
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 0;
}
.calendar__popup{
  z-index: 1;
  background-color: inherit;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
    &--show{
      display: block;
    }
   
}
.calendar__wraper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    height: 100%;
    padding: 15px;
    
  
}
.calendarLabel{
  font-family: 'Lucida Console';
  // text-align: center;
  display: block;
  align-self: flex-end;;
  // margin: 5px auto;
  // color: lime;
}
#cancel{
  display: block;
  background-color: rgba(220, 20, 60, 0.377);
  // margin: 10px auto;
}
#category{
  padding-right: 0;
  width: 154px;
}
.category{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
.clock{

  align-self: center;
  font-family: 'Lucida Console';
  font-size: 14px;
  font-weight: 300;
  background-color: red;
  max-width: inherit;
  height: 15px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  cursor: pointer;
}
.clockHide{
  display: none;
  
}
.close{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.534);
  margin-bottom: 10px;
  border-radius: 10px;
  position: absolute;
  background: transparent;
    &--done{
      // display: flex;
      // // flex-direction: column;
      // align-items: center;
      
      opacity: 30%;
    }
  
}

.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(243, 242, 242,0.75);
  padding: 0;
  margin-bottom: 10px;
  min-width: 300px;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 7px 7px 2px gray;
  
}
.container__done--hide{
  
    display: none;
  }
 

.day{
  display: block;
  height: 100px;
  min-width: 42px;
  padding: 2px 5px;
  border: 1px solid rgb(185, 182, 182);
    &--sunday{
      color: red;
    }
    &__name{
      font-size: 0.8125rem;
        
    }
    &__name--sunday{
      color: red;
    }
    &__mobile--hide{
      display: none;
    }
    &__number{
      color: rgb(110, 110, 110);
      display: block;
      padding: 1px 2px;
      font-size: 0.8125rem;
      width: fit-content;
      &--today{
        background-color: chartreuse;
        border-radius: 5px;
       
      }
    }
    &--today{
      border: green solid 2px;
    }
    &__category{
      display: block;
      font-size:  0.6875rem;
      &::before{
        margin-right: 2px;
        display: inline-block;
        content: "";
        background-color: rgba(0, 255, 255, 0.425);
        width: 0.6875rem;
        height: 0.6875rem;
        border-radius: 50%;
      }
    }
}
.form{
  min-width: 250px;
  align-self: center;
  align-content: center;
  border-radius: 10px;
  min-height: 33px;
  text-indent: 10px;
  border-style: none;
  background-color: rgba(176, 196, 222, 0.286);
  color:rgba(185, 187, 185, 0.95);
  font-size: large;
  font-family: 'Lucida Console';
  
}
@mixin hamburger__line {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
}
.hamburger{
  border-style: none;
  background-color: transparent;
  margin-top: 15px;
  cursor: pointer;
  &__box{
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
    
  }
  &__inner{
    @include hamburger__line();
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
      &::before{
        @include hamburger__line();
        content: '';
        top: 10px;
        left: 0;
        transition: transform .2s .2s ease-in-out;
      }
      &::after{
        @include hamburger__line(); 
        content: '';
        top: -10px;
        left: 0;
        transition: transform .2s .2s ease-in-out;
      }
  }
}
.hamburger__active{
  transition: transform .2s .2s ease-in-out;
  transform: translateX(220px);
}
.hamburger__active .hamburger__inner{
  background-color: transparent;
 

}
.hamburger__active .hamburger__inner::after{
  transform: translateY(10px) rotate(45deg);

}
.hamburger__active .hamburger__inner::before{
  transform: translateY(-10px) rotate(-45deg);

}

.delete{
  align-self: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-family: 'Lucida Console';
  background-color: rgba(230, 70, 83, 0.644);
  color: white;
  padding-top: 4px;
  border-radius: 50%;
  cursor: pointer;
}
.image{
  &__trashBin{
    align-self: flex-end;
    padding-top: 15px;
  }
}
.input{
  position: fixed;
  top: 0;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-family: 'Lucida Console';
  font-size: 25px;
  background-color:transparent;
}
.input[type="date"]{
  align-items: left;
  color: red;
}
.inputWraper{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  font-size: 12px;
  padding: 8px;
}

.item{
  font-family: 'Lucida Console';
  align-self: center;
  text-decoration: none;
  color: rgba(26, 102, 26, 0.95);
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
.itemDone{
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.69);
}
// li{
//   display: flex;
//   justify-content: space-between;
//   border-radius: 10px;
//   background-color: lightsteelblue;
//   color: black;
//   padding: 15px;
//   text-align: center;
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 25px;
//   font-weight: 800;
//   margin-bottom: 10px;
//   min-width: 300px;
//   }
.lineTrough{
  text-decoration: line-through;
  // background-color: rgba(180, 179, 179, 0.644);
  color: rgba(0, 0, 0, 0.596);
}

.list{
  display: flex;
  flex-direction: column;
  
}
.listHide{
  display: none;
}
.logoWraper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 5px;
}
#mbankIcon{
  margin-right: 10px;
  box-sizing: content-box;
}
.month{
  display: grid;
  grid-template-columns: repeat(7,auto);
  grid-template-rows: repeat(5, 1fr);
  border: 2px solid black;
}
.monthName__header{
  text-align: center;
}
.navigation{
  z-index: 2;
  padding: 15px;
  position: absolute;
  background-color: rgba(187, 179, 179, 0.664);
  border-radius: 20px;
  height: 80vh;
  width: 200px;
  box-shadow: 7px 7px 2px gray;
  
  transform: translateX(-250px);
  transition: transform .2s .2s ease-in-out;
  &__list{
    padding-bottom: 10px;
    padding-left: 10px;
    list-style: none;
    
  }
  &__item{
    margin-top: 8px;
  }
}
.navigation--active{
  transform: translateX(10px);
}
.notDone{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#ok{
  background-color: rgba(0, 255, 0, 0.349);
}
#pkoIcon{
  margin-left: 10px;
}
.popup{

  background-color: inherit;
  width: 100%;
  height: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.statusCircle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  &--green{
    background-color: green;
  }
  &--yellow{
    background-color: yellow;
  }
  &--crimson{
    background-color: crimson;
  }
}
.statusCircleDone{
  background-color: transparent;
}

.strip__done{
  background-color: rgb(87, 87, 114);
  max-width: inherit;
  height: 18px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  color: white;
  font-size: 11px;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
}
.strip__pko{
  background-color: blue;
  max-width: inherit;
  height: 18px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  color: white;
  font-size: 11px;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
}
.strip__mbank{
  background-color: red;
  max-width: inherit;
  height: 18px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  color: white;
  font-size: 11px;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
}
.taskWraper{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 25px 15px;
  cursor: pointer;
}
.taskWraperDone{
  padding-top: 20px;
}
.timeLeft{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-self: flex-end;
  padding-right: 7px;
  font-size: 14px;
}
.timeLeftDone{
  color: transparent;
}
#title{
  text-align: left;
  width: 154px;
}
.title{
  text-align: center;
  margin: 10px 0 5px 0;
  
}
#toList{
  font-size: 25px;
  max-width: 250px;
  padding: 10px;
}
.transferItem{
  border: solid lime 2px;
  border-radius: 10px;
  color: lime;
  font-family: 'Lucida Console';
  // height: 60px;
  padding: 12px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
.transfers{
  display: flex;
  flex-direction: column;
}
.trashBin{
  align-self: flex-end;
  padding-right: 10px;
}
.list__transfers{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  align-self: center;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 30px;
}
@media(max-width:360px){
  
  .calendar__wraper{
    grid-template-columns: auto;

  }
  .day{
    border-style: none;
    border-bottom: 2px gray solid;
    height: 50px;
      &__category{
        display: inline;
        margin-left: 10px;
        font-size: 0.8125rem;
        // text-align: center;
      }
      &__name{
        font-size: 0.75rem;
      }
  }
}