@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: black;
}

.button{
  align-self: center;
  border-radius: 10px;
  min-width: 43px;
  max-height: 33 px;
  margin-left: 10px;
  border-style: none;
  background-color: lime;
  font-size: 25px;
  font-weight: 0;
  align-items: center;
  padding: 6px;
  border-width: 0;

}
.container{
  display: flex;
  justify-content: space-between;
  background-color: lightsteelblue;
  color: black;
  padding: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  min-width: 300px;
  border-radius: 10px;
  
}
.form{
  min-width: 270px;
  align-self: center;
  align-content: center;
  border-radius: 10px;
  min-height: 33px;
  text-indent: 10px;
  border-style: none;
  background-color: lightskyblue;
  color:black;
  font-size: large;
  
}

.delete{
  width: 38px;
  height: 38px;
  background-color: rgb(230, 70, 83);
  color: white;
  padding-top: 4px;
  border-radius: 50%;
}
div{
  border-radius: 10px;
  background-color: lightsteelblue;
  color: black;
  padding: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  min-width: 300px;
}
.done{
  background-color: rgba(180, 179, 179, 0.644);
}
.input{
  display: flex;
  align-self: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: black;
}

.item{
  text-decoration: none;
}
.itemDone{
  text-decoration: line-through;
  color: gray;
}
li{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: lightsteelblue;
  color: black;
  padding: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  min-width: 300px;
  }
.lineTrough{
  text-decoration: line-through;
  // background-color: rgba(180, 179, 179, 0.644);
  color: rgba(0, 0, 0, 0.596);
}

.list{
  display: flex;
  flex-direction: column;
  background-color: black;
  
}
.notDone{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#toList{
  font-size: 25px;
  max-width: 250px;
  padding: 10px;
}
ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  align-self: center;
  padding: 0;
}