@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: black;
}

.button{
  align-self: center;
  border-radius: 10px;
  min-width: 43px;
  max-height: 33 px;
  margin-left: 10px;
  border-style: none;
  background-color: lime;
  font-size: 25px;
  font-weight: 0;
  align-items: center;
  padding: 6px;
  border-width: 0;

}
#buttonDone{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: lime solid 2px;
  background-color: transparent;
  color: lime;
  padding: 1px 6px 1px 5px;
}
#buttonPopup{
  margin-top: 20px;
}
.buttonsWraper{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.calendar{
  font-family: 'Lucida Console';
  display: block;
  background-color: transparent;
  border: 2px solid lime;
  color: lime;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 20px auto;
}
.calendarLabel{
  font-family: 'Lucida Console';
  text-align: center;
  display: block;
  margin: 10px auto;
  color: lime;
}
#cancel{
  display: block;
  background-color: rgba(220, 20, 60, 0.377);
  // margin: 10px auto;
}
.clock{

  align-self: center;
  font-family: 'Lucida Console';
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
.clockHide{
  display: none;
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(176, 196, 222, 0.286);
  padding: 5px 15px 5px 5px;
  text-align: center;
  margin-bottom: 10px;
  min-width: 300px;
  min-height: 90px;
  max-height: 100px;
  border-radius: 10px;
  
}
.containerDone{
  background-color: rgba(128, 128, 128, 0.69);
  justify-content: space-evenly;
}
.form{
  min-width: 250px;
  align-self: center;
  align-content: center;
  border-radius: 10px;
  min-height: 33px;
  text-indent: 10px;
  border-style: none;
  background-color: rgba(176, 196, 222, 0.286);
  color:rgba(185, 187, 185, 0.95);
  font-size: large;
  font-family: 'Lucida Console';
  
}

.delete{
  align-self: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-family: 'Lucida Console';
  background-color: rgba(230, 70, 83, 0.644);
  color: white;
  padding-top: 4px;
  border-radius: 50%;
  cursor: pointer;
}

.input{
  position: fixed;
  top: 0;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-family: 'Lucida Console';
  font-size: 25px;
  background-color:transparent;
}

.item{
  font-family: 'Lucida Console';
  align-self: center;
  text-decoration: none;
  color: rgba(26, 102, 26, 0.95);
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
.itemDone{
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.69);
}
li{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: lightsteelblue;
  color: black;
  padding: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  min-width: 300px;
  }
.lineTrough{
  text-decoration: line-through;
  // background-color: rgba(180, 179, 179, 0.644);
  color: rgba(0, 0, 0, 0.596);
}

.list{
  display: flex;
  flex-direction: column;
  background-color: black;
  
}
.notDone{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#ok{
  background-color: rgba(0, 255, 0, 0.349);
}
.popup{

  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.taskWraper{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 25px 15px;
  cursor: pointer;
}
.taskWraperDone{
  padding-top: 20px;
}
#toList{
  font-size: 25px;
  max-width: 250px;
  padding: 10px;
}
.transferItem{
  border: solid lime 2px;
  border-radius: 10px;
  color: lime;
  font-family: 'Lucida Console';
  // height: 60px;
  padding: 12px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  align-self: center;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 30px;
}